/* Top level structure */
html {
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100%;
}

html > body {
    flex-grow: 1;
    max-width: 1000px;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

body > main {
    flex-grow: 1;
}

main {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

main > article {
    flex-grow: 1;
    max-width: 800px;
}

/* Top level CSS */
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    font-size: 21px;
}

/* Navigation */
nav { 
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    border-bottom: 1px solid #333;
    margin: 1em;
}

nav > .nav-name {
    font-size: 2em;
    font-weight: 300;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: #000;
}

/* Content css*/
article {
    border-right: 3px solid #eee;
    border-left: 3px solid #eee;
    padding: .5em;
}

.selfie {
    size: 1em;
    max-width: 300px;
    float: left;
}